@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .disable {
        @apply pointer-events-none opacity-50;
    }

    .shadows {
        @apply shadow-lg shadow-black/60;
    }


}

@layer utilities {
    @variants responsive {
        /*Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}